<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {% block title %}Soda Fountain{% endblock %}
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <meta charset="utf-8">
        <meta name="description" content="Eat our crazy foods">
        <meta name="author" content="Kris Spenser">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
                Hello chef!
                <a href="{% url 'menu:logout' %}" class="top-menu">Logout</a>
                <a href="{% url 'menu:create_menu' %}" class="top-menu">Create menu</a>
                <a href="{% url 'menu:create_dish' %}" class="top-menu">Create dish</a>
                <a href="{% url 'menu:create_ingredient' %}" class="top-menu">Create ingredient</a>
                <a href="{% url 'menu:list_ingredients' %}" class="top-menu">List ingredients</a>
            {% else %}
                <a href="{% url 'menu:login' %}">Chef login</a>
            {% endif %}
            <h1><a href="/">Soda Fountain</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    <div class="post">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
